h2  Let's get proxyShop 'n!

//- Form for handling existing user logins.
//- h2 Existing Users
//- form(action="/auth/login", method="post")
//-   input(type="text", name="username", placeholder="Username")
//-   input(type="password", name="password", placeholder="Password")
//-   input(type="submit")

//- //- Form for allowing new users to register.
//- h2 Register
//- form(action="/auth/signup", method="post")
//-   input(type="text", name="username", placeholder="Username")
//-   input(type="email", name="email", placeholder="Email")
//-   input(type="password", name="password", placeholder="Password")
//-   input(type="submit")
//- body {
//-     background-image: url(/images/.jpg);
//- }

//- ng-model for handling existing user logins.
div Existing Users
	form(name="loggin" ng-submit="userLogin()")
		input(type=text name="username" ng-model="loginUser.username" required placeholder="username")
		input(type=text name="password" ng-model="loginUser.password" required placeholder="password")
		button(type="submit" ng-disabled="frm.$invalid") Login

//- ng-model for handling existing user logins.
div Register
	form(name="signnup" ng-submit="userSignup()")
		input(type=text name="username" ng-model="signupUser.username" required placeholder="username")
		input(type=text name="email" ng-model="signupUser.email" required placeholder="email address")
		input(type=text name="password" ng-model="signupUser.password" required placeholder="password")
		button(type="submit" ng-disabled="frm.$invalid") Sign me up!